<launch>
  <!-- <arg name="map_path" default="$(find map_parser)/data/test_route.xml"/> -->

  <node pkg="map_parser" type="map_parser_node" respawn="false" name="map_parser_node" output="screen">
      <param name="map_path" value="$(find map_parser)/data/test_route.xml"/>
      <!-- <rosparam file="$(find osm_parser)/config/osm_parser.yaml" command="load" /> -->
  </node>


</launch>