<launch>
  <!-- <arg name="map_path" default="$(find map_parser)/data/test_route.xml"/> -->

  <node pkg="mapf_ros" type="my_cbs_ros" respawn="false" name="my_cbs_ros_node" output="screen">
      <param name="map_path" value="$(find mapf_ros)/data/test_route.xml"/>
      <param name="real_car" value = "false" />
      <!-- <rosparam file="$(find osm_parser)/config/osm_parser.yaml" command="load" /> -->
  </node>
  <!-- 启动 RViz 并加载配置文件 -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mapf_ros)/rviz/my_cbs_ros.rviz" />

</launch>